<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="site-container">
      {% include sidebar.html %}
      <div class="content-wrapper">
        <header class="site-header">
          <img
            src="/assets/images/logo_klein.jpg"
            alt="Army Depot Logo"
            class="header-logo"
          />
        </header>

        <div class="main">
          <a href="/">← Zurück zur Startseite</a>
          <br />
          {{ content }}
        </div>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
