<div class="sidebar">
  <img
    src="/assets/images/logo_klein.jpg"
    alt="Army Depot Logo"
    class="sidebar-logo"
  />
  <details class="sidebar-menu">
    <summary>Navigation</summary>
    <a href="/">Startseite</a>
    <a href="/neuigkeiten">Neuigkeiten</a>
    <a href="/kontakt">Kontakt</a>
    <a href="/gallerie">Gallerie</a>
    <a href="/katalog">Katalog</a>
    <a href="/anfahrt">Anfahrt</a>
  </details>
  <div class="sidebar-large-screen">
    <a href="/">Startseite</a>
    <a href="/neuigkeiten">Neuigkeiten</a>
    <a href="/kontakt">Kontakt</a>
    <a href="/gallerie">Gallerie</a>
    <a href="/katalog">Katalog</a>
    <a href="/anfahrt">Anfahrt</a>
  </div>
</div>
