// Color Scheme
$darker_army: #4C5421;
$dark_army: #7F8750;
$medium_army: #B4BA93;
$light_army: #E6EDC0;

$content_bg: #999878;
$border_color: #6e6e6e;
$button_bg: #d3d2c3;
$text_color: #000000;
$footer_link: #2d2d2d;
$footer_link_hover: #660000;
$title_color: #660000;
$image_border: #a0a090;
$orange_highlight: #ff914d;
$green_highlight: #008444;
$news_box_bg: rgba(211, 210, 195, 0.8);
$shadow_color: rgba(0, 0, 0, 0.5);